:host{
    width: 100%;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

p.text-red-600 {
  animation: fadeIn 0.3s ease-out;
}

input.ng-invalid.ng-touched {
  border-color: #ef4444; /* Rouge Tailwind si invalide */
}